/* Dovetail */

:root{
	--primary: #908A83 !important; /* Dusky Beige */
	--secondary: #334E5F !important; /* Dusky Blue */
	--tertiary: #AA6414 !important; /* Burnt Carrot */
}

[data-theme="dark"]{
		--secondary: #5F8CA9 !important;
		--tertiary: #FF9924 !important; /* Carrot */
}

/* PREVIOUS VERSION
:root{
    --background: #34383b !important;
    --alt: #3b4247 !important;
    --text: #a3b6c4  !important;
    --border: #2d3133  !important; 
    --primary: #908A83 !important; 
	--tertiary: #657B87 !important;
	--secondary: #BF925A !important;
} */

