/* Hazel Creek */

:root
{
	/*--background: #6B5A43 !important;
  	--alt: #61513D !important;
  	--text: #C9BBA7 !important;
  	--border: #473C2D  !important; */
	--primary: #B89A74 !important; /* Tan */
	--secondary: #749FB8 !important; /* Sky Blue */
	--tertiary: #8EB874 !important; /* Leaf Green */
}
