@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Cinzel&family=Oswald&family=Lexend:wght@100..900&Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Stable Pages */

h1, h2, h3, h4, h5
{
  font-family: 'Source Sans 3', serif;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
  color: var(--secondary);
}

h2
{
  color: var(--tertiary);
}

.dataTables_scrollHeadInner
{
  background: var(--tertiary);
  color: #e2e2e2;
}

.dataTables_scrollBody
{
  font-family: Lexend, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  text-transform: lowercase
}

.small{font-weight: 500;}

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
        width: 100%; 
    }

    .column {
      flex: 1 30%;
      padding: 16px;
      overflow: auto;
      padding: 20px;
      margin: 10px;
      background-color: var(--primary);
      text-align: left;
      border: 1px solid var(--border);
      box-sizing: border-box;
      color: #e2e2e2;
    }

    @media (max-width: 768px) {
      .column {
        flex: 1 1 100%;
      }

/* Horse Pages */
