@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Cinzel&family=Oswald&family=Lexend:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Stable Pages */

h1, h2, h3, h4, h5
{
  font-family: 'Source Sans 3', serif;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
  color: var(--secondary);
}

h2
{
  color: var(--tertiary);
}

.dataTables_scrollHeadInner
{
  background: var(--tertiary);
  color: #e2e2e2;
}

.dataTables_scrollBody
{
  font-family: Lexend, sans-serif;
  font-size: 10pt;
  font-weight: 300;
  text-transform: lowercase
}

.small{font-weight: 500;}

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
        width: 100%; 
    }

    .column {
      flex: 1 30%;
      padding: 16px;
      overflow: auto;
      padding: 20px;
      margin: 10px;
      background-color: var(--primary);
      text-align: left;
      border: 1px solid var(--border);
      box-sizing: border-box;
      color: #e2e2e2;
    }

    @media (max-width: 768px) {
      .column {
        flex: 1 1 100%;
      }
}

/* Horse Pages */

nav
{
  background: color-mix(in srgb, var(--tertiary), var(--background));
  outline: 1px solid color-mix(in srgb, var(--tertiary), transparent 25%);
}

[data-theme="dark"]
{
  nav a{color: color-mix(in srgb, var(--secondary), white 50%);}  
}

#andi_profile img
{
	box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.2);
	max-height: 400px;
	padding: 2rem;
	border: .3rem Solid var(--secondary);
	border-radius: 0;
	display: block;
	margin: 0 auto;
	background: color-mix(in srgb, var(--secondary), transparent 60%);
}

 @media (max-width: 768px) {
#andi_profile img{max-height: 300px;}
 }

#stable_name
{	
  font-family: 'Source Sans 3', sans-serif; 
	font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary);
  padding: 0;
  text-align: center;
  height: 6px;
  display: flex;
  align-items: center;
  margin: 2rem 0 1.5rem;
  justify-content: center;
  border-radius: 1rem;
  gap: 1rem;

}
