@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cinzel&family=Splash&display=swap');

#andi_profile
{
	width: 100%; 
	margin: 1.5rem auto;
	display: flex;
	gap: .5rem;
	height: 382px;
	align-items: center;
	justify-content: center;
}

#ap_left{flex: 1 2 50%;}
#ap_right{flex: 2 1 50%; max-height: 400px; overflow: scroll;}

#andi_profile img
{
	object-fit: scale-down; 
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#andi_profile fieldset
{
	font-size: 80%;
	margin-top: 2.5rem;
}

#andi_profile legend{font-size: 150%;}

h1
{
	font-family: 'Splash', sans-serif; 
	color: var(--primary);
	font-size: 3rem;
	margin: 3.5rem auto 2.5rem;
}

legend{color: var(--secondary); font-family: 'Architects Daughter', sans-serif; font-size: 125%; font-weight: normal;}
.progress-bar{border-radius: 5px;}
.progress{border-radius: 5px;}
