@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cinzel&family=Splash&family=Oswald&display=swap');

#andi_profile
{
	width: 100%; 
}

#ap_main
{
	border: 1px solid var(--border);
	padding: 1.5rem;
	border-radius: 0.5rem;
}

/*#ap_main
{
	margin: 1.5rem 0;
	border: 1px solid var(--border);
	padding: 1.5rem;
	border-radius: 0.5rem;
	display: flex;
	font-size: .75rem;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	height: 382px;
}*/

#ap_left{flex: 1 1 40%;}
#ap_right{flex: 2 1 50%;}

#ap_gallery{text-align: center; height: 382px;}
/*#ap_tackbox{}
#ap_trivia{}*/

#andi_profile .tabcontent{padding: 1rem;}
#andi_profile .tablinks{font-family: Oswald;  color: var(--secondary); font-size: 1rem;}

#andi_profile img
{
	object-fit: scale-down; 
	box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.2);
	max-height: 382px;
}

#andi_profile fieldset{font-size: 80%;}
#andi_profile legend{font-size: 1.25rem;}

#andi_profile ul{list-style: none;}
#andi_profile li:nth-child(odd){background: var(--background);}
#andi_profile li{padding: .25rem; border: 1px Solid var(--border);}

#ap_fauxtable{width: 100%;}
.ap_fauxrow{display: flex; gap: .2em; margin: .2em auto;}
.ap_fauxcell{padding: .25rem; border: 1px Solid var(--border);}
.ap_fauxrow .ap_fauxcell:first-child{font-weight: bold; color: var(--secondary); flex: 1 40%;}
.ap_fauxrow .ap_fauxcell:last-child{flex: 2 60%;}
#ap_fauxtable .ap_fauxrow:nth-child(odd){background: var(--background);}

h1
{
	font-family: 'Splash', sans-serif; 
	color: var(--primary);
	font-size: 3rem;
	margin: 3.5rem auto 2.5rem;
	font-style: normal;
	background: linear-gradient(90deg, var(--tertiary) 0%, transparent 33%, transparent 66%, var(--tertiary) 100%);
}

@media(max-width: 1000px) {h1{background: transparent; margin: 1.5rem auto;}}

h2{color: var(--secondary); font-family: Oswald, sans-serif; font-weight: normal;}
h3{color: var(--secondary);}

legend{color: var(--secondary); font-family: Oswald, sans-serif; font-size: 1.25rem; font-weight: normal;}
.progress-bar{border-radius: 5px;}
.progress{border-radius: 5px;}
#showstats b{font-size: 1.25rem; color: var(--primary);}

/* Stable Pages */

th{background: var(--primary); /*color: #efefef;*/ color: var(--tertiary); font-weight: normal; font-family: Oswald, sans-serif;}

.dataTables_scrollHeadInner table{border: none; border-radius: 5px 5px 0 0;} .dataTables_scrollHeadInner{margin-bottom: 5px;}
.dataTables_scrollBody table{border-top: 1px Solid var(--border) !important;}
