/* Strickland */

:root{
	--primary: #695779 !important; /* PURPLE */
	--secondary: #687856 !important; /* GREEN */
	--tertiary: #99CDC9 !important; /* ELECTRIC BLUE */
}

[data-theme="dark"]{
	
	--secondary: #9CB381 !important;
}

/* PREVIOUS VERSION

:root{
    --background: #3f394d !important;
    --alt: #393445 !important;
    --text: #aca3c2  !important;
    --border: #363242  !important; 
	--primary: #534870 !important; /* PURPLE */
	/*--secondary: #6B7D41 !important;*/ /*original green*/
	--secondary: #879638 !important; /*brighter green*/
	--tertiary: #7D624D !important;
} */
