:root{
  --primary: #750c0c !important;
  --secondary: #A17525 !important;
  --tertiary: #0C4D75 !important;
}

[data-theme="dark"]
{
                --primary: #A32B10 !important;
                --secondary: #B8972A !important;
                --tertiary: #1D9199 !important;
}
